html {
    font-size: 10px;
    font-family: 'Bungee', cursive;
    background-color: rgb(189, 163, 129);
    display: block;
  }
body{ 
   width: fit-content; 
   margin: 500px;
   background-color: bisque;
   padding: 0 20px 20px 20px;
   border: 5px rgba(37, 37, 28, 0.801);
}
  h1 {
    margin: 0;
    padding: 20px 0;
    text-shadow: 5px 5px 1px rgb(134, 116, 91);
    font-size: xx-large;
    text-align: center;
  }
 h2 {
    font-size: x-large;
    text-align: center;
    text-shadow: 5px 5px 1px rgb(134, 116, 91);
  }
  p,
  li,
  a {
    line-height: 2;
    font-size: large;
    text-align: center;
    letter-spacing: 1px;
  }
  img {
    display: block;
    margin: 0 auto
  }